.button {
    width: 100%;
    height: 60px;
    background: var(--color-primary);
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.4s
}

.profile-container{
    width: 100%;
    height: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header{
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.profile-container header span{
    font-size: 20px;
    margin-left: 24px;
}

.profile-container header img{
    height: 64px;
}

.profile-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.profile-container header button{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.profile-container header button:hover{
    border-color: #999;

}

.profile-container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}

.profile-container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    padding-bottom: 100px;
}

.profile-container ul li{
    background: var(--color-primary);
    padding: 24px;
    border-radius: 8px;
    position: relative;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ;
}

.profile-container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color: var(--color-primary);
}

.profile-container ul li button img {
    width: 2rem;
    height: 2rem;
}

.profile-container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #fff;
}

.profile-container ul li p + strong{
    margin-top: 32px;
}

.profile-container ul li p{
    color: #fff;
    line-height: 21px;
    font-size: 16px;
}
