:root {

  font-size: 60%;

  --color-background: #F0F0F7;
  --color-primary-lighter: #eee7e7;
  --color-primary-light: #d4cfdf;
  --color-primary: #ff6961;
  --color-primary-dark: #ce3636;
  --color-primary-darker: #6842C2;
  --color-secundary: #ce3636;
  --color-secundary-dark: #cf4848;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #FFFFFF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0; 
  --color-input-background: #F8F8FC;
  --color-button-text-red: #ce3636;
  --color-button-text-white: #ffffff;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;


}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body{
  background: var(--color-background);
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea{
  font: 500 1.6rem Poppins;
  color: var(--color-text-base);
}

button {
  cursor: pointer;
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px){
  :root {
    font-size: 62.5%;
  }
}

form input {
  width: 100%;
  height: 60px; 
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}


.button {
  width: 100%;
  height: 60px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.4s
}

.button:hover {
  filter: brightness(70%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}