.logon-container {
    
    background: var(--color-background);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
}

.logon-container section.form{
    width: 100%;

} 

.logon-container section.form input{
    margin-top: 1.2rem;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 48px;
}
